body {
  display:flex;
}

.menu {
  display:grid;
  border: 3px solid blue;
  color: blue;
  text-align:center;
  width: 95px;
  margin: 12px;
}
a{
  font-family:arial;
  text-align:center;
  color:black;
}
